/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand-1: #d97c06;
  --vp-c-brand-2: #C57105;
  --vp-c-brand-3: #B16505;
  --vp-nav-logo-height: 20px;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

 :root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #fde98a 15%,
    #d97c06
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #d97c0660 30%,
    #fde98a60
  );
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}
